/* index */
.realfactory-top-bar-right-social.c-header-logo,
.realfactory-top-bar-right-social.c-header-logo a {
  margin-left: 0;
}

.realfactory-item-pdlr.c-header-logo-wrapper {
  padding-left: 0;
}

.c-header-social-wrapper,
.gdlr-core-dropdown-tab .gdlr-core-dropdown-tab-content-wrap {
  padding-top: 8px;
}

.realfactory-footer-wrapper {
  padding: 50px 0;
}

.gdlr-core-item-pdb {
  padding-bottom: 0;
}

.gdlr-core-dropdown-tab .gdlr-core-dropdown-tab-head-wrap {
  z-index: 10;
  margin-right: 0;
}

.realfactory-item-pdlr {
  padding-right: 0;
}

.c-service-image-overlay {
  background-color: rgba(50, 70, 80, 0.7);
  background-blend-mode: multiply;
}

/* services */
.c-service-page {
  width: 100%;
}

/*  informaçoes */
.c-gallery-wrapper:first-child {
  padding-top: 0;
}

.wpcf7-form-control-wrap input {
  border: 1px #727272 solid !important;
  size: 40px;
}

.c-download-btw {
  padding-left: 7px;
}

.realfactory-body span.wpcf7-not-valid-tip {
  color: #dc3232;
}

.gdlr-core-pbf-section:first-child {
  padding-top: 15px;
}

.wpcf7-response-output {
  display: none !important;
}

.ebd_link {
  font-size: 23px;
  font-weight: bold;
}

.ebd_span {
  float: left;
  margin-right: 10px;
  font-size: 23px;
}

/* footer */
/* .c-footer-logo {
    text-align: center;
} */

.c-footer-logo img {
  width: 110px;
}

.c-footer-logo .realfactory-top-bar-right-social {
  margin-left: 0px;
}

.c-footer-logo .realfactory-top-bar-right-social .facebook-footer {
  margin-left: 0px;
}

.c-newsletter {
  padding-top: 10px;
}

.c-newsletter input {
  width: 100%;
}

/* contact */
.wpcf7-form-control-wrap input.c-contact-input {
  border: none!important;
}

.quform-element .wpcf7-form-control-wrap input::placeholder,
.quform-element .wpcf7-form-control-wrap textarea::placeholder {
  color: #4e4e4e;
}