/* index */
.realfactory-top-bar-right-social.c-header-logo,
.realfactory-top-bar-right-social.c-header-logo a {
  margin-left: 0;
}

.realfactory-item-pdlr.c-header-logo-wrapper {
  padding-left: 0;
}

.c-header-social-wrapper,
.gdlr-core-dropdown-tab .gdlr-core-dropdown-tab-content-wrap {
  padding-top: 8px;
}

.realfactory-footer-wrapper {
  padding: 50px 0;
}

.gdlr-core-item-pdb {
  padding-bottom: 0;
}

.gdlr-core-dropdown-tab .gdlr-core-dropdown-tab-head-wrap {
  z-index: 10;
  margin-right: 0;
}

.realfactory-item-pdlr {
  padding-right: 0;
}

.c-service-image-overlay {
  background-color: rgba(50, 70, 80, 0.7);
  background-blend-mode: multiply;
}

.trp-language-switcher > div > a:hover {
  background: #212121;
  color: #fff !important;
}

.trp-language-switcher > div {
  border-radius: 3px;
  background: #212121;
}

.trp-language-switcher-container a {
  color: #99c329 !important;
  font-weight: 800;
  font-size: 13px;
}

.c-front-services-image-wrapper .gdlr-core-pbf-background-wrap {
  padding: 0 3px;
}

.submit-button {
	width: 100%!important;
}

#news-input {
  padding: 0;
}

#trp-floater-ls {
  display: none;
}

@media only screen and (max-width: 999px) {
  #trp-floater-ls {
    display: block;
  }
}

/* services */
.c-service-page {
  width: 100%;
}

/*  informaçoes */
.c-gallery-wrapper:first-child {
  padding-top: 0;
}

.wpcf7-form-control-wrap input {
  border: 1px #727272 solid !important;
  size: 40px;
}

.c-download-btw {
  padding-left: 7px;
}

.realfactory-body span.wpcf7-not-valid-tip {
  color: #dc3232;
}

.gdlr-core-pbf-section:first-child {
  padding-top: 15px;
}

/* .wpcf7-response-output {
  display: none !important;
} */

.ebd_link {
  font-size: 23px;
  font-weight: bold;
}

.ebd_span {
  float: left;
  margin-right: 10px;
  font-size: 23px;
}

/* footer */
/* .c-footer-logo {
    text-align: center;
} */

.c-footer-logo img {
  padding-top: 4px;
  width: 110px;
}

.c-footer-logo .realfactory-top-bar-right-social {
  margin-left: 0px;
}

.c-footer-logo .realfactory-top-bar-right-social .facebook-footer {
  margin-left: 0px;
}

.c-newsletter {
  padding-top: 10px;
}

.c-newsletter input {
  width: 100%;
}

/* contact */
.wpcf7-form-control-wrap input.c-contact-input {
  border: none !important;
}

.quform-element .wpcf7-form-control-wrap input::placeholder,
.quform-element .wpcf7-form-control-wrap textarea::placeholder {
  color: #4e4e4e;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* MEDIA QUERIES */

@media only screen and (max-width: 767px) {
  .realfactory-footer-wrapper .realfactory-footer-column {
    margin-bottom: 30px;
  }

  .gdlr-core-pbf-column-content-margin {
    padding: 30px 0px 30px 0px !important;
  }

  .c-service-mobile-wrap {
    padding: 10px 0px 10px 0px !important;
  }

  .c-gallery-wrapper {
    padding-top: 20px;
  }
}

@media only screen and (max-width: 999px) {
  .submit-button {
    padding: 10px;
  }
}

/* about */
.gdlr-core-icon-list-content {
  margin-left: 5px;
}

#about-image {
  background-repeat: no-repeat !important;
}

@media only screen and (max-width: 1000px) and (min-width: 768px) {
  #about-image {
    background-size: auto !important;
  }
}

@media only screen and (max-width: 767px) {
  #about-image {
    background-position: right !important;
    background-repeat: no-repeat;
  }

  #about-image-wrap {
    padding-top: 300px !important;
  }
}
